

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.category {
    background-color: lightgrey;
    border-radius: 5px;

    max-height: 80vh;
    width: 25vw;
    padding: 10px;
    overflow: hidden;

    margin: 10px;
}

.cardScrollBox {
    overflow: scroll;
    overflow-x: hidden;

    height: 70vh;

    border-radius: 5px;

    -ms-overflow-style: none; /* hide scroll bar in IE and Edge */
    scrollbar-width: none; /* hide scroll bar in Firefox */
}

.card {
    background-color: white; /*temporary*/
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

button.card,
button.category {
    /* all buttons with class card, this should clear out the buttons preset css and let them just look like other cards*/
    border: none;
}

button.category:hover,
button.card:hover {
    background-color: grey;
}

.categoryContainer {
    display: flex;
    overflow-x: scroll;

    -ms-overflow-style: none; /* hide scroll bar in IE and Edge */
    scrollbar-width: none; /* hide scroll bar in Firefox */
}

.categories {
    display: flex;
}

.toolbar{
    background-color: grey;
    border-bottom-right-radius: 5px;
    display: flex;
    padding: 7px;
    padding-top: 0px;
    margin-right: 5px;
}

.toolbar button{
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: lightgrey;
    min-height: 4vh;
    font-size: 0.8rem;
}

.board{
    margin-left: 10px;
    margin-top: 10px;
}

.menuBody{
    flex-grow: 3;

    background-color: darkgray;
    border-radius: 15px;
    display: flex;
    justify-content: left;

    flex-wrap: wrap;
    align-content: stretch;

    margin: 10px;
}

.menuBody button{
    background-color: grey;
    border: none;
    border-radius: 5px;
    margin: 10px;

    max-height: 15vh;

}

.introBox{
    flex-grow: 1;

    background-color: darkgray;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.menuContainer{
    display:flex;
    justify-content: space-around;
    align-content: stretch;
    min-height: 100vh;
}
